<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />
    <title>Midterm Two Store</title>
  </head>

  <body>

    <div id="admin" class="content">
      <h1>Store Management Interface</h1>

      <div class="add">
        <div class="form">

          <label for="Name">Product Name</label>
          <input v-model="name" title="Name">

          <p></p>

          <label for="Price">Price</label>
          <input v-model="price" title="Price">

          <p></p>

          <label for="url">Picture URL</label>
          <input v-model="url" title="url">

          <button @click="addProduct">Add Product</button>
        </div>
      </div>

      <div class="products">

        <h1>Current Products</h1>

        <div class="image" v-for="item in sortedProducts">
          <span @click="deleteItem(item)">X</span>
          <p>{{ item.name }} - price {{ item.price }} - ordered {{ item.quantity }}</p>
          <img :src="item.path" />
        </div>

        <!--<div class="form">-->
        <!--  <input v-model="findTitle" placeholder="Search">-->
        <!--  <div class="suggestions" v-if="suggestions.length > 0">-->
        <!--    <div class="suggestion" v-for="s in suggestions" @click="selectItem(s)">{{s.title}}-->
        <!--    </div>-->
        <!--  </div>-->
        <!--</div>-->
        <!--<div class="upload" v-if="findItem">-->
        <!--  <input v-model="findItem.title">-->
        <!--  <p></p>-->
        <!--  <input v-model="findItem.description">-->
        <!--  <p></p>-->
        <!--  <img :src="findItem.path" />-->
        <!--</div>-->
        <!--<div class="actions" v-if="findItem">-->
        <!--  <button @click="editItem(findItem)">Edit</button>-->
        <!--  <button @click="deleteItem(findItem)">Delete</button>-->
        <!--</div>-->
      </div>

    </div>

    <div class="footer">
      <p>
        <a href="index.html">Shopping Interface</a>
      </p>
      <p>
        <a target="_blank" href="https://github.com/jpstrommen95/MidtermTwoStore.git">Midterm Two Github</a>
      </p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
    <script src="/admin.js"></script>

  </body>

</html>
